@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  color: #444;
  background-color: black;
}

a {
  color: #08f;
}

#stats {
  position: fixed !important;
  top: auto !important;
  bottom: 0px;
  right: 0px !important;
  left: auto !important;
}
#src_ref {
  text-decoration: none;
  left: 50%;
  transform: translateX(-50%);
}

#src_ref:hover {
  color: rgb(0, 255, 255);
}
#guicontainer {
  margin-top: 2vh;
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
  position: relative;
  z-index: 2;
}

#infobox {
  z-index: 2;
  position: relative;
  left: 0;
  right: 0;
}

#info {
  text-align: center;
  font-size: large;
  color: rgb(11, 211, 211);
}

#info-sub {
  text-align: center;
  color: aliceblue;
  font-size: small;
  font-style: italic;
}
#content {
  position: absolute;
  font-family: "Roboto", sans-serif;
  z-index: 1;
  width: 100%;
  padding: 3em 0 0 0;
}

#multicanvas {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #444;
}

.list-item {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  box-shadow: 1px 2px 4px 0px rgba(0, 217, 255, 0.25);
}

.list-item > div:nth-child(1) {
  width: 6vw;
  height: 5vw;
}

.list-item > div:nth-child(2) {
  color: rgb(11, 211, 211);
  font-family: "Roboto", sans-serif;
  font-size: small;
  width: 5vw;
  margin-top: 0.5em;
}
